<div class="main">
  <div class="logo">
    <div class="verti_logo">
      <a href="/">
        <img src="/01_main/main_logo2.png">
      </a>
    </div>
  </div>
  <div class="line">
    <img src="/01_main/main_line2.png" class="main_line">
  </div>
  <nav class="menu_bar">
    <div class="hwahye area" id="hover">
      <a href="/main_page/intro">
        <img src="/01_main/menu_title/01_on.png" class="font_bar">
      </a>
      <ul class="hide">
        <li>인사말</li>
        <li class="margin">화혜란?</li>
        <li class="margin">화혜종류</li>
      </ul>
    </div>
    <div class="info area">
      <a href="/main_page/info">
        <img src="/01_main/menu_title/02_on.png" class="font_bar">
      </a>
    </div>
    <div class="program area">
      <a href="/main_page/program">
        <img src="/01_main/menu_title/03_on.png" class="font_bar">
      </a>
      <ul class="hide">
        <a href="/main_page/program"><li>프로그램</li></a>
        <a href="/reserves"><li class="margin">예약하기</li></a>
        <a href="/boards"><li class="margin">후기게시판</li></a>
      </ul>
    </div>
    <div class="road area">
      <a href="/main_page/road">
        <img src="/01_main/menu_title/04_on.png" class="font_bar">
      </a>
    </div>
    <div class="qna area">
      <a href="/main_page/qna">
        <img src="/01_main/menu_title/05_on.png" class="font_bar">
      </a>
    </div>
  </div>
</div>
