<div class="main">
  <div class="logo">
    <div class="verti_logo">
      <img src="/01_main/main_logo2.png">
    </div>
  </div>
  <div class="line">
    <img src="/01_main/main_line2.png" class="main_line">
  </div>
  <div class="menu_bar">
    <a href="/">
      <div class="hwahye area">
        <img src="/01_main/menu_title/01_on.png" class="font_bar">
      </div>
    </a>
    <a href="/">
      <div class="info area">
        <img src="/01_main/menu_title/02_on.png" class="font_bar">
      </div>
    </a>
    <a href="/">
      <div class="program area">
        <img src="/01_main/menu_title/03_on.png" class="font_bar">
      </div>
    </a>
    <a href="/">
      <div class="road area">
        <img src="/01_main/menu_title/04_on.png" class="font_bar">
      </div>
    </a>
    <a href="/">
      <div class="qna area">
        <img src="/01_main/menu_title/05_on.png" class="font_bar">
      </div>
    </a>
  </div>
</div>
