<div class="main">
  <div class="menu_logo">
    <div class="hori_logo">
      <a href="/">
        <img src="/01_main/main_logo.png" class="logo">
        <img src="/program/hori_logo.png" class="logo_name">
      </a>
    </div>
    <div class="menu_bar">
      <a href="/main_page/intro">
        <div class="menu_hwahye area">
          <p>소개</p>
        </div>
      </a>
      <a href="/main_page/info">
        <div class="menu_info area">
          <p>화혜</p>
        </div>
      </a>
      <a href="/main_page/program">
        <div class="menu_program area">
          <p>프로그램</p>
        </div>
      </a>
      <a href="/main_page/road">
        <div class="menu_road area">
          <p>오시는길</p>
        </div>
      </a>
      <a href="/main_page/qna">
        <div class="menu_qna area">
          <p>문의하기</p>
        </div>
      </a>
    </div>
  </div>
  <div class="intro_content color_back">
    <div class="left_side">
      <div class="sub_menu">
        <li><a href="/main_page/intro"><p>인사말</p></a></li>
        <li><a href="/main_page/intro_house"><p>전수관</p></a></li>
      </div>
    </div>
    <div class="reserve_back">
      <div class="house_intro">
        <img src="/01_main/hwahye_house.png">
      </div>
    </div>
  </div>
</div>
