<div class="main">
  <div class="menu_logo">
    <div class="hori_logo">
      <a href="/">
        <img src="/01_main/main_logo.png" class="logo">
        <img src="/program/hori_logo.png" class="logo_name">
      </a>
    </div>
    <div class="menu_bar">
      <a href="/main_page/intro">
        <div class="menu_hwahye area">
          <p>소개</p>
        </div>
      </a>
      <a href="/main_page/info">
        <div class="menu_info area">
          <p>화혜</p>
        </div>
      </a>
      <a href="/main_page/program">
        <div class="menu_program area">
          <p>프로그램</p>
        </div>
      </a>
      <a href="/main_page/road">
        <div class="menu_road area">
          <p>오시는길</p>
        </div>
      </a>
      <a href="/main_page/qna">
        <div class="menu_qna area">
          <p>문의하기</p>
        </div>
      </a>
    </div>
  </div>
  <div class="intro_content color_back">
    <div class="left_side">
      <div class="sub_menu">
        <li><a href="/main_page/info"><p>인사말</p></a></li>
        <li><a href="/main_page/intro_house"><p>전수관</p></a></li>
      </div>
    </div>
    <div class="reserve_back">
      <div class="intro">
        <div class="header">
          <div class="head_img">
            <img src="/01_main/haepyo.png">
          </div>
          <div class="head_word">
            <h1>안해표安海杓(1951~)</h1><br>
            <p>부산광역시 무형문화재 제17호</p><br>
            <h2>화혜장靴鞋匠</h2>
            <p>장화 형태의 신을 만드는 화장(靴匠)과 고무신 형태의 신을<br> 만드는 혜장(鞋匠)을 통칭하여 ‘화혜장(靴鞋匠)’이라 한다.</p>
          </div>
        </div>
        <div class="profile">
          <img src="/01_main/profile.png" class="file">
          <br>
          <p>1976년 전통우리신 개발연구실 설립</p><br>
          <p>2006년 (사)대한명인문화예술교류회 화혜06-121호 대한명인 인증</p><br>
          <p>2008년 정부조달청 전통문화공예품 등록</p><br>
          <p>2010년 부산광역시 무형문화재 제17호 '화혜장' 기능보유자 지정</p><br>
          <p>2011년 국립고궁박물관 복식재현사업 참여</p><br>
          <p>2012년 부산문화대상 수상</p><br>
          <p>2013년 향토핵심자원사업화에 기여한 공이크므로 안전행정부장관 표창장 수상</p><br>
          <p>2014년 예올(문화유산보존모임)이 뽑은 올해의 장인상 수상</p><br>
          <p>2014년 한.아세안 특별정상회의 정상들의 선물용 적석제작</p><br>
          <p>現 전통우리신 개발연구실 대표</p><br>
          <img src="/01_main/main_arts.png" class="arts">
          <br>
          <p>2007년 서울 세계 명인 문화예술대축제</p><br>
          <p>2007년 전라북도청사 대한민국 대한명인전</p><br>
          <p>2008년 대한민국 무형문화재 명장전</p><br>
          <p>2008년 대전정부청사 문화재특별전</p><br>
          <p>2011년 청주국제공예비엔날레</p><br>
          <p>2013년 전국지자체 박람회 부산광역시 대표상품으로 참가</p><br>
          <p>2014년 부산광역시 전통문화 향토명품 전시회</p><br>
          <p>2014년 한.아세안 특별정상회의 무형문화재 전시관 전시 외 다수</p><br>
        </div>
      </div>
    </div>
  </div>
</div>
