/* board_new_form */
.form_intro {
  height: 100%;
  width: 100%;
  .board_head {
    text-align: center;
    h1 {
      font-size: 30px;
      padding-top: 1.5%;
      padding-bottom: 1%;
    }
    hr {
      width: 35%;
      border: 2px solid #6676D4;
    }
  }
  .board_form {
    padding: 2% 30% 0 30%; 
    .field {
      margin-bottom: 15px;
      display: inline-block;
      width: 100%;
      .field_with_errors {
        float: right;
        overflow: hidden;
        background-color: transparent;
        height: 20px;
        width: 135px;
        input {
          margin: 0;
        }
      }
      img {
        float: left;
        overflow: hidden;
        margin-right: 40px;
      }
      p {
        float: left;
        font-size: 23px;
        margin: 10px 0 0 0;
      }
      input {
        float: right;
        overflow: hidden;
        background-color: transparent;
        border: 1px solid #222;
        margin-top: 10px;
        height: 20px;
        width: 135px;
      }
      textarea {
        width: 100%;
        height: 150px;
        background-color: transparent;
        border: 1px solid #222;
        padding: 0;
        resize: none;
      }
    }
    .actions {
      text-align: center;
      button {
        border: 0;
        background: transparent;
        img {
          width: 110px;
          height: 60px;
        }
      }
    }
  }
}
