.menu_logo {
  width: 100%;
  height: 100px;
  display: inline-block;
  .hori_logo {
    a:hover {
      background-color: transparent;
      text-decoration: none; 
    }
    width: 50%;
    height: 100px;
    display: inline-block;
    .logo {
      height: 90px;
      padding: 10px 15px 0 10px;
      width: 65px;
    }
    .logo_name {
      width: 190px;
      padding-top: 30px;
    } 
  }
  .menu_bar {
    height: 100px;
    width: 40%;
    .menu_hwahye {
      background-color: rgba(211,151,6,0.35);
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
    .menu_hwahye:hover {
      background-color: rgba(211,151,6,0.9);
    }
    .menu_info {
      background-color: rgba(192,0,0,0.35);
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
    .menu_info:hover {
      background-color: rgba(192,0,0,0.9);
    }
    .menu_program {
      background-color: rgba(0,32,96,0.35);
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
    .menu_program:hover {
      background-color: rgba(0,32,96,0.9);
    }
    .menu_road {
      background-color: rgba(0,0,0,0.35);
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
    .menu_road:hover {
      background-color: rgba(0,0,0,0.90);
    }
    .menu_qna {
      background-color: rgba(217,217,217,0.35);
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
    .menu_qna:hover {
      background-color: rgba(217,217,217,0.90);
    }
    p {
      color: white;
      font-size: 15px;
      margin: 40px 0;
    }
  }
}

/* intro part */
.intro_content {
  .left_side {
    height: 100%;
    float: left;
    overflow: hidden;
    width: 15%;  
    max-width: 150px;
    background-color: rgba(211,151,6,0.45);
    .sub_menu {
      margin-top: 30px;
      .sub_bar {
        -webkit-transition: background-color 1.5s ease-out;
        -moz-transition: background-color 1.5s ease-out;
        -o-transition: background-color 1.5s ease-out;
        transition: background-color 1.5s ease-out;
        background-color: #CEA65A;
      }
      .sub_bar:hover {
        background-color: black;
      }
      li {
        text-align: center;
        list-style: none;
        height: 50px;
        margin-top: 30px;
        display: table;
        width: 100%;
        a {
          text-decoration: none;
          display: table-cell;
          vertical-align: middle;
          background-color: transparent;
        }
        p {
          color: white;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  .reserve_back {
    float: left;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 85%;
    background-color: rgba(217,217,217,0.9);
    .house_intro {
      padding: 5%;
      img {
        width: 100%;
      }
    }
    .intro {
      padding: 5%;
      .head_img {
        width: 40%;
        display: inline-block;
        img {
          width: 100%;
        }
      }
      .head_word {
        width: 50%;
        float: right;
        h1 {
          margin: 0;
        }
        p {
          margin: 10px 0;
          font-size: 15px;
        }
      }
      .profile {
        .arts {
          width: 200px;
          margin-bottom: 20px;
        }
        .file {
          width: 150px;
          margin-bottom: 20px;
        }
        p {
          margin: 0;
          font-size: 20px;
        }
      }
    }
  }
}

/* info part */
.info_content {
  .left_side {
    height: 100%;
    float: left;
    overflow: hidden;
    width: 15%;  
    max-width: 150px;
    background-color: rgba(192,0,0,0.45);
    .sub_menu {
      margin-top: 30px;
      .sub_hwa {
        -webkit-transition: background-color 1.5s ease-out;
        -moz-transition: background-color 1.5s ease-out;
        -o-transition: background-color 1.5s ease-out;
        transition: background-color 1.5s ease-out;
        background-color: #FD6D6D;
      }
      .sub_hwa:hover {
        background-color: black;
      }
      a {
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
        background-color: transparent;
      }
      li {
        text-align: center;
        list-style: none;
        height: 50px;
        margin-top: 30px;
        display: table;
        width: 100%;
        p {
          color: white;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  .reserve_back {
    float: left;
    height: 100%;
    width: 85%;
    background-color: rgba(217,217,217,0.9);
    overflow-y: scroll;
    overflow-x: hidden;
    .intro {
      padding: 5%;
      img {
        width: 100%;
      }
    }
  }
}

  /* program part */
  .pro_content {
    .left_side {
      height: 100%;
      float: left;
      overflow: hidden;
      width: 15%;  
      max-width: 150px;
      background-color: rgba(0,32,96,0.45);
      .sub_menu {
        margin-top: 30px;
        .sub_bar {
          -webkit-transition: background-color 1.5s ease-out;
          -moz-transition: background-color 1.5s ease-out;
          -o-transition: background-color 1.5s ease-out;
          transition: background-color 1.5s ease-out;
          background-color: #667697;
        }
        .sub_bar:hover {
          background-color: black;
        }
        a {
          text-decoration: none;
        }
        li {
          text-align: center;
          list-style: none;
          height: 50px;
          margin-top: 30px;
          display: table;
          width: 100%;
          p {
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 16px;
            margin: 0;
          }
        }
      }
    }
    .reserve_back {
      float: left;
      height: 100%;
      overflow: hidden;
      width: 85%;
      background-color: rgba(217,217,217,0.9);
      display: table;
      .pro_intro{
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .show_content {
          height: 70%;
          margin: 0 15%;
          h2 {
            font-size: 40px;
            height: 7%;
            margin-top: 100px;
          }
          .form_box {
            height: 70%;
            img {
              width: 25%;
              margin-top: 30px;
            }
          }
        }
        .form_content {
          height: 90%;
          margin: 0 5%;
        }
        .t_head {
          width: 100%;
          h2 {
            display: inline-block;
            width: 40%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
            float: left;
          }
          h3 {
            display: inline-block;
            width: 33%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
          }
          h4 {
            display: inline-block;
            width: 20%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
          }
        }
        .t_body {
          width: 100%;
          a {
            color: black;
          }
          .t_num {
            display: inline-block;
            width: 40%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
          .t_date {
            display: inline-block;
            width: 33%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
          .t_people {
            display: inline-block;
            width: 20%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
        }
        a {
          text-decoration: none;
          background-color: transparent;
        }
        td {
          font-size: 18px;
        }
        th {
          font-size: 23px;
        }
        img {
          width: 100%;
          margin-bottom: 20px;
        }
        .margin {
          margin-top: 5%;
        }
        .row {
          width: 100%;
          display: inline-block;
          box-sizing: border-box;
          padding: 0 22% 0 22%;
          a {
            text-decoration: none;
            float: right;
            display: inline-block;
            width: 90px;
          }
          a:hover {
            background-color: transparent;
            text-decoration: none; 
          }
          .text {
            float: left;
            width: 75%;
            img {
              width: 100%;
              height: 75px;
            }
          }
          .link {
            float: left;
            width: 20%;
            img {
              width: 100%;
              height: 75px;
            }
          }
        }  
      }
      .board_intro {
        text-align: center;
        height: 100%;
        padding: 3% 10% 7% 10%;
        .board_content {
          height: 90%;
          .board_row {
            height: 20%;
            .t_title {
              float: left;
              margin-left: 15%;
              font-size: 20px;
            }
            .t_name {
              margin-right: 15%;
              float: right;
              font-size: 20px;
            }
          }
          .board_main {
            height: 60%;
            .t_content {
              font-size: 25px;
            }
          }
        }
        .t_head {
          width: 100%;
          h2 {
            display: inline-block;
            width: 12%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
            float: left;
          }
          h3 {
            display: inline-block;
            width: 21%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
          }
          h4 {
            display: inline-block;
            width: 43%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
          }
          h5 {
            display: inline-block;
            width: 22%;
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 23px;
          }
        }
        .t_body {
          width: 100%;
          a {
            color: black;
            &:hover{

              color: #fff;
            }
          }
          .t_num {
            display: inline-block;
            width: 12%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
          .t_name {
            display: inline-block;
            width: 20%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
          .t_title {
            display: inline-block;
            width: 43%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
          .t_date {
            display: inline-block;
            width: 22%;
            font-size: 18px;
            margin: 15px 0 0 0;
          }
        }
        a {
          text-decoration: none;
          background-color: transparent;
        }
        td {
          font-size: 18px;
        }
        th {
          font-size: 23px;
        }
        img {
          width: 100%;
          margin-bottom: 20px;
        }
        .list_img {
          float: left;
          overflow: hidden;
          img {
            width: 40%;
            float: left;
            overflow: hidden;
          }
        }
        .write_img {
          float: right;
          overflow: hidden;
          img {
            width: 40%;
            float: right;
            overflow: hidden;
          }
        }
      }
    }
  }
  .program_back{
    float: left;
    height: 100%;
    overflow-y: scroll;
    width: 85%;
    background-color: rgba(217,217,217,0.9);
    .program_intro {
      padding: 5%;
      img {
        width: 100%;
      }
    }
  }

  /* road part */
  .road_content {
    .left_side {
      height: 100%;
      float: left;
      overflow: hidden;
      width: 15%;  
      max-width: 150px;
      background-color: rgba(0,0,0,0.45);
      .sub_menu {
        margin-top: 30px;
        .sub_bar {
          -webkit-transition: background-color 1.5s ease-out;
          -moz-transition: background-color 1.5s ease-out;
          -o-transition: background-color 1.5s ease-out;
          transition: background-color 1.5s ease-out;
          background-color: #5A5A5A;
        }
        .sub_bar:hover {
          background-color: black;
        }
        a {
          text-decoration: none;
        }
        li {
          text-align: center;
          list-style: none;
          height: 50px;
          margin-top: 30px;
          display: table;
          width: 100%;
          p {
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 16px;
            margin: 0;
          }
        }
      }
    }
    .reserve_back {
      float: left;
      height: 100%;
      overflow: hidden;
      width: 85%;
      background-color: rgba(217,217,217,0.9);
      overflow-y: scroll;
      text-align: center;
      .road_intro {
        padding: 5%;
        h1 {
          font-size: 30px;
        }
        h2 {
          float: left;
          font-size: 23px;
        }
        p {
          float: left;
          font-size: 18px;
        }
        img {
          width: 100%;
        }
      }
    }
  }

/* qna part */
.qna_content {
  .left_side {
    height: 100%;
    float: left;
    overflow: hidden;
    width: 15%;  
    max-width: 150px;
    background-color: rgba(217,217,217,0.45);
    .sub_menu {
      margin-top: 30px;
      .sub_bar {
        -webkit-transition: background-color 1.5s ease-out;
        -moz-transition: background-color 1.5s ease-out;
        -o-transition: background-color 1.5s ease-out;
        transition: background-color 1.5s ease-out;
        background-color: #D2D1CF;
      }
      .sub_bar:hover {
        background-color: black;
      }
      li {
        text-align: center;
        list-style: none;
        height: 50px;
        margin-top: 30px;
        display: table;
        width: 100%;
        a {
          text-decoration: none;
          display: table-cell;
          vertical-align: middle;
          background-color: transparent;
        }
        p {
          color: white;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  .reserve_back {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 85%;
    background-color: rgba(217,217,217,0.9);
    display: table;
    .intro {
      padding: 5% 25%;
      display: table-cell;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
  }
}
