<footer class="footer" id='f'>
  <div class="footer_content">
    <p>
      부산광역시 사하구 감내1로 155번길 66-2(감천동) 감천문화마을 행복발전소 위<br>
      부산 무형문화재 17호 안해표 Tel: 051-292-2224<br>
      Copyright © 2016 ENACTUS UNIST
      All rights are reserved.
    </p>
  </div>
</footer>
